.logo {
  font-family: "Raleway", sans-serif;
  color: var(--third-title-color);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: block;

  &:focus,
  &:active {
    font-size: 26px;
    font-weight: 700;
  }

  &--right {
    margin-right: 93px;
  }
}

.logo--white {
  color: var(--main-title-color);
}

.logo--black {
  color: var(--logo-text-color);
}
