h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: baseline;
  border-bottom: 1px solid var(--header-border-color);
  background-color: var(--main-title-color);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
