:root {
  --main-title-color: #ffffff;
  --secondary-title-color: #757575;
  --main-text-color: #212121;
  --logo-text-color: #000000;
  --button-primary-color: #ffffff;
  --third-title-color: #2196f3;
  --footer-title-color: #2f303a;
  --hero-title-color: #2f303a;
  --section-team-color: #f5f4fa;
  --header-border-color: #ececec;
  --social-media: #afb1b8;
  --clients-link: #f5f5f5;
  --modal-window-color: #ffffff;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0 auto;
}
